<mat-progress-bar *ngIf="loading; else content" mode="query"></mat-progress-bar>

<ng-template #content>
  <div class="content-wrapper">
    <div class="chips">
      <section>
        <mat-chip-list [multiple]="true" aria-label="Exchanges options">
          <mat-chip (click)="onChipSelectionChange('exchanges', index, !exchange.selected)"
                    *ngFor="let exchange of exchanges; let index = index"
                    [selected]="exchange.selected"
                    [value]="exchange.name">{{exchange.name}}</mat-chip>
        </mat-chip-list>
        <h1 class="mat-h1 mt-2">Live exchange data</h1>
      </section>
      <section>
        <mat-chip-list [multiple]="true" aria-label="Exchanges options">
          <mat-chip (click)="onChipSelectionChange('coins',index, !coin.selected)"
                    *ngFor="let coin of coins; let index = index"
                    [selected]="coin.selected"
                    [value]="coin.name">{{coin.name}}</mat-chip>
        </mat-chip-list>
        <mat-chip-list [multiple]="true" aria-label="Exchanges options" class="mt-2">
          <mat-chip (click)="onChipSelectionChange('currencies',index, !currency.selected)"
                    *ngFor="let currency of currencies; let index = index"
                    [selected]="currency.selected"
                    [value]="currency.name">{{currency.name}}</mat-chip>
        </mat-chip-list>
      </section>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input #input (keyup)="applyFilter($event?.target?.value)" matInput placeholder="Ex. Coinbase">
    </mat-form-field>
    <div class="data-table">
      <table [dataSource]="dataSource" mat-table>

        <ng-container matColumnDef="exchange">
          <th *matHeaderCellDef mat-header-cell>Exchange</th>
          <td *matCellDef="let row" mat-cell> {{row.exchange}} </td>
        </ng-container>

        <ng-container matColumnDef="fromCurrency">
          <th *matHeaderCellDef mat-header-cell>Coin</th>
          <td *matCellDef="let row" mat-cell> {{row.fromCurrency}}</td>
        </ng-container>

        <ng-container matColumnDef="toCurrency">
          <th *matHeaderCellDef mat-header-cell>Currency</th>
          <td *matCellDef="let row" mat-cell> {{row.toCurrency}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th *matHeaderCellDef mat-header-cell>Price</th>
          <td *matCellDef="let row" [class]="row.class" mat-cell> {{row.price | currency: row.toCurrency:'symbol-narrow':'1.2-10'}}
            <mat-icon>{{row.icon}}</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="lastUpdate">
          <th *matHeaderCellDef mat-header-cell>Last updated</th>
          <td *matCellDef="let row" mat-cell> {{row.lastUpdate * 1000 | date: 'medium'}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" [id]="row.exchange + row.fromCurrency + row.toCurrency"
            mat-row></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="4">No data</td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>
