.chips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-h1 {
  margin: 16px 0 0;
}

table {
  width: 100%;
}

.data-table {
  flex: 1;
  height: 70vh;
  overflow: auto;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
  margin-top: 16px;
}

.text {
  &-green {
    color: green;
  }

  &-red {
    color: red;
  }

  &-grey {
    color: dimgrey;
  }
}
