<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <svg fill="none" height="50" viewBox="0 0 50 50" width="50" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_i)">
        <path clip-rule="evenodd"
              d="M50 25C50 11.1929 38.8071 -1.69631e-06 25 -1.09278e-06C11.1929 -4.89256e-07 -1.69631e-06 11.1929 -1.09278e-06 25C-4.89256e-07 38.8071 11.1929 50 25 50C38.8071 50 50 38.8071 50 25ZM50 25C50 12.2974 39.7026 2 27 2C14.2974 2 4 12.2974 4 25C4 37.7026 14.2974 48 27 48C39.7026 48 50 37.7026 50 25Z"
              fill="#F7F4FD"
              fill-rule="evenodd"/>
      </g>
      <g filter="url(#filter1_i)">
        <path clip-rule="evenodd"
              d="M0 25C0 38.8071 11.1929 50 25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0C11.1929 0 0 11.1929 0 25ZM0 25C0 37.7026 10.2974 48 23 48C35.7026 48 46 37.7026 46 25C46 12.2974 35.7026 2 23 2C10.2974 2 0 12.2974 0 25Z"
              fill="#5760DB"
              fill-rule="evenodd"/>
      </g>
      <defs>
        <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="51" id="filter0_i" width="51"
                x="-3.8147e-06"
                y="0">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"/>
          <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                         values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dx="1" dy="1"/>
          <feGaussianBlur stdDeviation="1"/>
          <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
          <feBlend in2="shape" mode="normal" result="effect1_innerShadow"/>
        </filter>
        <filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="51" id="filter1_i" width="51"
                x="-1"
                y="0">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" mode="normal" result="shape"/>
          <feColorMatrix in="SourceAlpha" result="hardAlpha" type="matrix"
                         values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset dx="-1" dy="1"/>
          <feGaussianBlur stdDeviation="1"/>
          <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
          <feBlend in2="shape" mode="normal" result="effect1_innerShadow"/>
        </filter>
      </defs>
    </svg>
    <span>Coin Exchange</span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
